<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%-5level] %d{dd/MMM HH:mm:ss} %-30.30c{2} --> %msg%n" />
		</Console>
		<File name="File" fileName="target/logs/logs.txt">
			<PatternLayout
				pattern="[%-5level] %d{dd-MMM HH:mm:ss} %-30.30c{2} --> %msg%n" />
		</File>
	</appenders>
	<loggers>
		<root level="${logs.level.root}">
			<AppenderRef ref="Console" />
			<appenderRef ref="File" />
		</root>
	</loggers>
</configuration> 